YELLOW='\033[0;33m'
PURPLE='\033[0;35m'
NC='\033[0m'

echo "\n${YELLOW}Authenticating via clokta: ${PURPLE}clokta -p aws-app-carta${NC}\n"
clokta -p aws-app-carta
export AWS_PROFILE=aws-app-carta
echo "${YELLOW}AWS_PROFILE set to ${PURPLE}${AWS_PROFILE}${NC}\n"